<div class="AdminUser list">
  <h2> Admin Users </h2>
  <%= link_to("Add New User", {:action => 'new'}, :class => 'action new') %>
  <div><%= pluralize(@admin_users.size, "user") %></div>
  <table class="listing" summary="Admin User list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>Username</th>
      <th>Action</th>
    </tr>
    <% @admin_users.each do |u| %>
        <tr class="<%= cycle('odd','even') %>">
          <td><%= u.id %></td>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= mail_to(u.email) %></td>
          <td><%= u.username %></td>
          <td class="actions">
            <%= link_to("Edit", {:action => 'edit', :id => u.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => u.id}, :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>

</div>


